@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
	url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
			url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
	url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
			url('../fonts/Gilroy-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
	url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
	url('../fonts/Gilroy-ThinItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
	url('../fonts/Gilroy-BlackItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
	url('../fonts/Gilroy-BoldItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-BoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
	url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
			url('../fonts/Gilroy-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
	url('../fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
	url('../fonts/Gilroy-SemiBoldItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Light'), local('Gilroy-Light'),
	url('../fonts/Gilroy-Light.woff2') format('woff2'),
			url('../fonts/Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
	url('../fonts/Gilroy-MediumItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
	url('../fonts/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.woff2') format('woff2'),
			url('../fonts/Gilroy-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
	url('../fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
	url('../fonts/Gilroy-Medium.woff2') format('woff2'),
			url('../fonts/Gilroy-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
	url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
			url('../fonts/Gilroy-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
	url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
			url('../fonts/Gilroy-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.woff2') format('woff2'),
			url('../fonts/Gilroy-Bold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Thin'), local('Gilroy-Thin'),
	url('../fonts/Gilroy-Thin.woff2') format('woff2'),
			url('../fonts/Gilroy-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.woff2') format('woff2'),
			url('../fonts/Gilroy-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gilroy';
}

body {
	background-color:rgb(241, 241, 241);
}

.App {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

.ui.card {
	padding: 15px;
	border: 2px solid #b663d1;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-top: 15px;
}

.post__content {
	width: 100%;
}

.ui.card strong {
	font-size: 18px;
}

.ui.card p {
	font-size: 16px;
}

.post__btns {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.btn {
	font-family: 'Gilroy' !important;
}

.not-found {
	text-align: center;
	font-size: 32px;
	margin-top: 15px;
}

.select {
	padding: 5px 10px;
	margin-top: 15px;
	color: #b663d1;
	border-radius: 5px;
	border: 1px solid #b663d1;
}

.select:focus {
	outline: none;
}

hr {
	margin-top: 15px;
}

.page-btns {
	margin: 50px 0;
	display: flex;
	justify-content: center;
}

.page-btn {
	padding: 10px 15px;
	border: 1px solid teal;
	cursor: pointer;
	border-radius: 5px;
}

.page-btn:not(:last-child) {
	margin-right: 10px;
}

.page-btn__current {
	font-weight: bold;
	border: 1px solid orange;
}

.navbar {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #b663d1;
}

.navbar__actions {
	width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__link {
	font-family: 'Gilroy' !important;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}

.navbar__link:not(:last-child) {
	margin-right: 10px;
}

.filter__input {
	width: 100%;
}

.ui.input>input {
	font-family: 'Gilroy';
}

.ui.input>input:active,
.ui.input>input:focus {
	border-color: #b663d1;
}

.home, .error {
	height: 100vh;
	width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.home__heading,
.authorisation__heading {
	color: #b663d1;
}

.home__heading, 
.error__heading,
.authorisation__heading {
	font-size: 45px;
	font-family: sans-serif;
	font-weight: normal;
}

.error__heading {
	color: red;
}

.home__instructions {
	margin-top: 15px;
	font-size: 32px;
	color:darksalmon;
	font-family: sans-serif;
	font-weight: normal;
}


.postPage,
.authorisation {
	height: 100vh;
	width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	align-items: center;
	display: flex;
	margin-top: 100px;
	flex-direction: column;
}

.authorisation__form {
	display: flex;
	flex-direction: column;

}

.authorisation__input {
	width: 400px;
	margin-bottom: 15px;
}

.comment {
	margin-top: 15px;
}

.form__input {
	width: 100%;
	margin-bottom: 15px;
}

.postPage__body {
	font-size: 28px;
	line-height: 32px;
}

.postPage__heading,
.postPage__subHeading {
	font-family: 'Gilroy';
	font-weight: 500;
}

